<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue todolist</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    <div id="app">

        <div id="container-rotate">
            <!-- creo un lista -->
            <ul id="container-todo">
                <!-- creo un li per ogni oggetto contenuto in 'todos' e sbarro il testo se la proprietà 'done' è true -->
                <li v-for='(todo, indexTodos) in todos'>
                    <!-- inserisco il valore (stringa) dell'oggetto 'i' di todos -->
                    <span v-bind:class="todos[indexTodos].done == true ? 'strike': '' " @click="todos[indexTodos].done == true ? todos[indexTodos].done = false : todos[indexTodos].done = true">
                        {{todo.text}}
                    </span>
                    <!-- aggiungo un evento click che elimina l'elemento dalla lista -->
                    <span @click="cancelTodo(indexTodos)" id="remove-xmark"><i class="fa-regular fa-circle-xmark"></i></span>
                </li>
            </ul>
    
            <!-- aggiungo  un campo di input e ciò che scriverò all'interno sarà il text di un nuovo elemento della lista-->
            <!-- aggiungo il bonus 1: premendo enter aggiungo l'elemento alla lista -->
            <input @keyup.enter="addNewTodo()" v-model="newTodo.text" type="text">
            <!-- aggiungo un bottone tramite cui inserirò nell'array 'todos' un nuovo todo creato tramite funzione 'addNewTodo' con il testo preso da ciò che è stato inserito dall'utente nel campo di input -->
            <button @click="addNewTodo()">aggiungi alla lista</button>
            
        </div>

    </div>


    <script src="js/script.js"></script>

</body>
</html>